<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
  </head>
  <body>
	    <h1>Hello World</h1>
	    <p>This is a youtube-wannabe web page.</p>

	 <!--    <div class="video_part">

		    <div id="video">
		    	<iframe width="854" height="431"
						src="https://www.youtube.com/embed/ZfCq0QVvrSY">
		    </div>

		    <div class="comment">
		    	<p> Title of the video </p>
		    	<p> Text Explanation </p>
		    </div>

	    </div> -->

	    <div class="sidebar">
	    	
	    	<div class="thumbnail">
		    	<img src="/images/cab.jpeg" width="168" height="94">
		    	<div class="comment">
			    	<p> Title of the video </p>
			    	<p> Text Explanation </p>
			    </div>
	    	</div>

	    	<div class="thumbnail">
		    	<img src="images/betty.jpg" width="168" height="94">
		    	<div class="comment">
			    	<p> Title of the video </p>
			    	<p> Text Explanation </p>
			    </div>
	    	</div>

	    	<div class="thumbnail">
		    	<img src="images/betty.jpg" width="168" height="94">
		    	<div class="comment">
			    	<p> Title of the video </p>
			    	<p> Text Explanation </p>
			    </div>
	    	</div>

	    	<div class="thumbnail">
		    	<img src="images/betty.jpg" width="168" height="94">
		    	<div class="comment">
			    	<p> Title of the video </p>
			    	<p> Text Explanation </p>
			    </div>
	    	</div>


	    </div>
  </body>
</html>
